<% if (isVarDefined('logo')) { %>
    <img src="<%= logo.value %>" style="<%= logo.styles %>" alt="" class="logo">
<% } %>
<% if (isVarDefined('offerName')) { %>
    <h1 class="offer-name" style="<%= offerName.styles %>">
        <%- offerName.value %>
    </h1>
<% } %>
<% if (isVarDefined('offerCollaborations')) { %>
    <h2 class="collaborations" style="<%= offerCollaborations.styles %>">
        <%- offerCollaborations.value %>
    </h2>
<% } %>
<% if (isVarDefined('salary')) { %>
    <h3 class="salary" style="<%= salary.styles %>">
        <%- salary.value %>
    </h3>
<% } %>
<% if (isVarDefined('pointsHeading')) { %>
    <h4 class="points-heading" style="<%= pointsHeading.styles %>">
        <%- pointsHeading.value %>
    </h4>
<% } %>
<% if (isVarDefined('points')) { %>
    <div class="points">
        <% for (let i = 0; i < points.length; i++) { %>
            <div class="points-item" style="<%= points[i].styles %>">
                <div class="points-item-value"> <%- points[i].value %></div>
            </div>
        <% } %>
    </div>
<% } %>

<% function isVarDefined(variable) { %>
    <% return (typeof locals[variable] !== 'undefined' && locals[variable] && locals[variable] !== null); %>
<% } %>
